    <div style='font-family: Arial, sans-serif; font-size: 16px; color: #333;'>
    <p>Ciao <strong style='color: #007bff;'> $customerName </strong>,</p>
    <p>✅ Hai riconsegnato il libro <strong style='color: #28a745;'> $bookTitle </strong>.</p>
    <p>📅 La tua prenotazione è stata chiusa il <strong style='color: #dc3545;'>" $resEndDate "</strong>.</p>
    <br>
    <p>Grazie per aver utilizzato il nostro servizio!</p>
    <p><strong>La tua Biblioteca 📚</strong></p>
    </div>;